<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>M O N I T O R</title>
  </head>
  <body>

    <style>
      stats-dial {
          display: block;
          width: 160px;
          height: 160px;
      }
    </style>

    <div id="app">
      <stats-dial value="50" min="0" max="100" class="cpu_stats_dial"></stats-dial>
      <div class="cpu_stats_info"></div>
      
      <stats-dial value="50" min="0" max="100" class="fs_stats_dial"></stats-dial>
      <div class="fs_stats_info"></div>

      <stats-dial value="50" min="0" max="100" class="process_stats_dial"></stats-dial>
      <div class="process_stats_info"></div>

    </div>


    
    <script src="/static/js/stats-dial.js"></script>
    
    <script src="/static/js/app.js" type="text/javascript"></script>


  </body>
</html>
